@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: #7E7E7E;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #000000
    animation: transitionIn 0.75s;
}

h1 {
    color: #000000;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.rec {
    color: #000000;
    font-weight: bold;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.rec:hover{
    color: #000000;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

table, td, th {
    border: 0px solid;
}

